:root {
  --main-color: #add8e6;
  --main-color-dark: #478aa0;
  --main-color-very-dark: #386f81;
  --wrong-note-color: red;
  --grey-dark: #434343;
  --guitar-brown: #df9c66;
  --guitar-string-grey: #8d8d8d;
  --guitar-fret-silver: rgb(78, 78, 78);
  --guitar-fret-shine: rgb(224, 224, 224);
  --guitar-shine: #d6d6d6;
  --guitar-dot-shine: #858585;
  --white: #f8f8f8;
  --max-width: 120rem;
}

html {
  font-size: 15px;
  box-sizing: border-box;
  color: var(--grey-dark);
}

@media (min-width: 1px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 30em) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 62em) {
  html {
    font-size: 15px;
  }
}

/* @media (min-width: 80em) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 96em) {
  html {
    font-size: 19px;
  }
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.noHighlightOnClick {
  -webkit-tap-highlight-color: transparent;
}
